Package: nova-console
Source: nova
Version: 2012.2-0ubuntu5~cloud0
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 72
Depends: nova-common (= 2012.2-0ubuntu5~cloud0), upstart-job, python
Recommends: nova-consoleauth (>= 2012.1~rc1-0ubuntu2)
Section: net
Priority: extra
Homepage: http://launchpad.net/nova
Description: OpenStack Compute - Console
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller. In
 addition to its "native" API (the OpenStack API), it also supports the Amazon
 EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It supports many
 different hypervisors (KVM and Xen to name a few), different database backends
 (SQLite, MySQL, and PostgreSQL, for instance), different types of user
 databases (LDAP or SQL), etc.
 .
 This package provides the console server.  This enables the use of consoles
 to be used along with XVP and XenServer.  It is a publically reachable
 component which proxies access to VNCs running on compute nodes.
Original-Maintainer: Openstack Maintainers <openstack@lists.launchpad.net>
