Package: nova-api-os-volume
Source: nova
Version: 2012.2-0ubuntu5~cloud0
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 72
Depends: nova-common (= 2012.2-0ubuntu5~cloud0), upstart-job, python
Breaks: nova-api
Section: net
Priority: extra
Homepage: http://launchpad.net/nova
Description: OpenStack Compute - OpenStack Volume API frontend
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller. In
 addition to its "native" API (the OpenStack API), it also supports the Amazon
 EC2 API.
 .
 This package provides the OpenStack Volume API frontend.
Original-Maintainer: Openstack Maintainers <openstack@lists.launchpad.net>
